### Machine Learning Coursework

### Student ID: 00019257

### Task 1. Loading Dataset

In [93]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print("Libraries are imported")

Libraries are imported

In [98]:
# # Load the dataset
# # My dataset uses semicolon as delimiter and requires specific encoding "cp1252"
df = pd.read_csv('data/apartments_for_rent_classified_10K.csv', delimiter=';', encoding='cp1252')

print("Dataset is loaded")
print(f"Dataset shape: {df.shape}")

Dataset is loaded
Dataset shape: (10000, 22)

In [99]:
# first 5 rows will be shown
print("\nFirst 5 rows of the dataset:")
df.head()

First 5 rows of the dataset:

           id                category                                              title                                               body amenities  bathrooms  bedrooms currency fee  has_photo pets_allowed  price price_display price_type  square_feet           address    cityname state  latitude  longitude     source        time
0  5668626895  housing/rent/apartment  Studio apartment 2nd St NE, Uhland Terrace NE,...  This unit is located at second St NE, Uhland T...       NaN        NaN       0.0      USD  No  Thumbnail          NaN    790          $790    Monthly          101               NaN  Washington    DC   38.9057   -76.9861  RentLingo  1577359415
1  5664597177  housing/rent/apartment                  Studio apartment 814 Schutte Road  This unit is located at 814 Schutte Road, Evan...       NaN        NaN       1.0      USD  No  Thumbnail          NaN    425          $425    Monthly          106    814 Schutte Rd  Evansville    IN   37.9680   -87.6621  RentLingo  1577017063
2  5668626833  housing/rent/apartment  Studio apartment N Scott St, 14th St N, Arling...  This unit is located at N Scott St, 14th St N,...       NaN        1.0       0.0      USD  No  Thumbnail          NaN   1390        $1,390    Monthly          107               NaN   Arlington    VA   38.8910   -77.0816  RentLingo  1577359410
3  5659918074  housing/rent/apartment                     Studio apartment 1717 12th Ave  This unit is located at 1717 12th Ave, Seattle...       NaN        1.0       0.0      USD  No  Thumbnail          NaN    925          $925    Monthly          116  1717 12th Avenue     Seattle    WA   47.6160  -122.3275  RentLingo  1576667743
4  5668626759  housing/rent/apartment  Studio apartment Washington Blvd, N Cleveland ...  This unit is located at Washington Blvd, N Cle...       NaN        NaN       0.0      USD  No  Thumbnail          NaN    880          $880    Monthly          125               NaN   Arlington    VA   38.8738   -77.1055  RentLingo  1577359401